body {
	margin: 0;
	padding: 0;
	font: 11px verdana, arial, helvetica, sans-serif;
	background: #fff;
}

/* START :: special select option styles */
option.addMore {
	background: url(../plugins/famfamfam-1.0.1/images/icons/add.png) no-repeat left top;
	background-color: #333;
	padding-left: 18px;
	height: 16px;
	color: #fff;
	font-weight: bold;
}

option.modify {
	background: url(../plugins/famfamfam-1.0.1/images/icons/layout_add.png) no-repeat left top;
	background-color: #333;
	padding-left: 18px;
	height: 16px;
	color: #fff;
	font-weight: bold;
}

option.locked {
	background: url(../plugins/famfamfam-1.0.1/images/icons/lock.png) no-repeat left top;
	padding-left: 18px;
}

option.unlocked {
	padding-left: 18px;
}
/* END :: special select option styles */


/* START :: header */
.header {
	margin-bottom: 40px;
	border-bottom: 2px solid black;
	height: 77px;
	width: 100%;
	background: #f8f8f8 url(../images/hackaton.png) no-repeat left top;
}

.header .content {
	display: inline-block;
	margin-left: 500px;
	margin-top: 40px;
	font: 24px verdana, arial, helvetica, sans-serif;
}

.header .content a:link, .header .content a:visited, .header .content a:hover {
	color: #666;
	border-bottom: 2px dashed red;
	text-decoration: none;
}
/* END :: header */

/* START :: footer */
.footer {
	margin-top: 40px;
	border-top: 2px solid black;
	height: 77px;
	width: 100%;
	background-color: #f8f8f8;
	background: #f8f8f8 url(../images/grails_logo.png) no-repeat left center;
}

.footer .content {
	display: inline-block;
	color: #006dba;
	margin-top: 32px;
	margin-left: 200px;
	width: 100%;
}

.footer .content a:link, .footer .content a:visited, .footer .content a:hover {
	color: #006dba;
	border-bottom: 1px dotted red;
	text-decoration: none;
}
/* END :: footer */